form{
    width: 400px;
    margin:auto;
    text-align: center;
    padding: 0px 10px 50px 10px;
    border-radius: 15px;
    border: 1px solid #FFD460;
    position: relative;
    input,select,textarea,option{
        display: block;
        width: 100%;
        padding: 5px 2px;
        font-family: monospace;
        color: grey;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #FFD460;
    }
    input[type="submit"]{
        width: 100px;
        position: absolute;
        right: 10px;
        border: 1px solid #FFD460;
        background: transparent;
        color: #FFD460;
        cursor: pointer;
        transition: .6s;
        &:hover{
            background-color: #FFD460;
            color: #2D4059;
            box-shadow: 3px 3px 15px #2D4059;
        }
        &:disabled{
            border: 1px solid lightgray;
            background-color: transparent;
            color:lightgray;
            cursor: not-allowed;
        }
    }
    textarea{
        height: 150px;
    }
    // ::placeholder{
      //buraya placeholder özellikleri verilebilir
    // }
    :focus{
        outline: 3px solid #F07B3F;
    }
}